mern_server/config/dev.js
mern_server/package.json
mern_server/package-lock.json
mern_server/node_modules
mern_server/.env

mern_client/package.json
mern_client/package-lock.json
mern_client/node_modules
mern_client/build
mern_client/.env

package.json
package-lock.json
node_modules

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
